body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(163, 193, 219);
    margin: 0%;
    padding: 0%;
}

.navbar {
    background-color: rgb(124, 185, 225);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar .logo{
    color: antiquewhite;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration:underline; 
    color: black;
}

.Slides {
    display: flex;
    width: 300%; 
    height: 100%;
    animation: slideAnimation 10s infinite linear;
}

.Slider img {
    width: 50%;
    height: auto;
}

/* Animation for sliding effect */
@keyframes slideAnimation {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}
