.red {
        width:80px;
        height:80px;
      background: red;
      border-radius: 50%;
    }

    .yellow {
      background: yellow;
       width:80px;
        height:80px;
      border-radius: 50%;
    }

    .green {
      background: green;
       width:80px;
        height:80px;
      border-radius: 50%;
    }
