
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #666;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.header-content img {
    left: 20px;
    width: 60px; 
    height: auto;
    position: absolute;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ccc;
}

.sidebar {
    width: 20%;
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

.sidebar h3 {
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.content {
    width: 60%;
    background-color: white;
    padding: 20px;
    text-align: left;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/*  University Logo (Right Sidebar)  */
.sidebar img {
    width: 100px;
    height: auto;
}

footer {
    background-color: #666;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 16px;
}
